In [2]:
from statsmodels.tsa.stattools import coint
import pandas as pd

In [1]:
! pwd

/home/user/PycharmProjects/crypto_backend/notebooks/cointegration/Crypto/Finding Cointegrated Pairs

In [2]:
! ls

 findCointegratedPairs.ipynb  'Price Data'
 getPriceData-Copy1.ipynb     'SPY and cryptos cointegration tests.ipynb'
 getPriceData.ipynb

In [ ]:
notebooks/cointegration/Crypto

In [3]:
spy = pd.read_csv('../ETFs/spy.us.txt')
spy_close = spy['Close']

In [4]:
spy_close.info()

<class 'pandas.core.series.Series'>
RangeIndex: 3201 entries, 0 to 3200
Series name: Close
Non-Null Count  Dtype
--------------  -----
3201 non-null   float64
dtypes: float64(1)
memory usage: 25.1 KB

In [7]:
spy_close.head()

0    105.79
1    105.08
2    105.62
3    105.57
4    105.61
Name: Close, dtype: float64

In [10]:
spy.head()

         Date    Open    High     Low   Close    Volume  OpenInt
0  2005-02-25  104.77  106.00  104.68  105.79  70221808        0
1  2005-02-28  105.55  105.68  104.56  105.08  79695344        0
2  2005-03-01  105.22  105.87  105.22  105.62  54607412        0
3  2005-03-02  105.21  106.22  105.10  105.57  73733090        0
4  2005-03-03  105.99  106.20  105.15  105.61  71286823        0

In [8]:
spy_close.tail()

3196    258.85
3197    258.67
3198    259.11
3199    258.17
3200    258.09
Name: Close, dtype: float64

In [11]:
spy.tail()

            Date    Open    High     Low   Close    Volume  OpenInt
3196  2017-11-06  258.30  259.00  258.22  258.85  49529148        0
3197  2017-11-07  258.97  259.35  258.11  258.67  57218448        0
3198  2017-11-08  258.47  259.22  258.15  259.11  50277699        0
3199  2017-11-09  257.73  258.39  256.36  258.17  94537282        0
3200  2017-11-10  257.73  258.21  257.37  258.09  59862364        0

In [12]:
df = pd.read_csv('Folder/{}.csv'.format(symbol))
df.head()

     open    high     low   close  5. volume  market cap
0  0.5373  0.5444  0.5373  0.5441   141781.0    141781.0
1  0.5161  0.5407  0.5055  0.5378  4617406.0   4617406.0
2  0.5110  0.5233  0.5028  0.5159  2638891.0   2638891.0
3  0.4903  0.5130  0.4856  0.5111  5948304.0   5948304.0
4  0.4900  0.4941  0.4708  0.4899  2517511.0   2517511.0

In [13]:
df.tail()

       open    high     low   close   5. volume  market cap
995  0.3188  0.3580  0.3151  0.3164  3351088.79  3351088.79
996  0.3258  0.3282  0.2934  0.3188  3006628.16  3006628.16
997  0.3367  0.3529  0.3140  0.3260  4448459.71  4448459.71
998  0.3389  0.3465  0.3326  0.3379  1521321.52  1521321.52
999  0.3441  0.3441  0.3300  0.3389  1466261.12  1466261.12

**I don't understand how to match it in time space**

In [7]:
! ls ../

 BackTesting.ipynb
'cointegration test with SPY,USO,BTC,ETH, and LTC.ipynb'
 crudeoil.csv
 CRYUSD
 Data
 ETFs
'Finding Cointegrated Pairs'
 InitialAnalysis.ipynb
'InitialAnalysis - jp working.ipynb'
 Stocks
 Untitled.ipynb

In [6]:
! ls Folder/

ADA.csv   BTC.csv   DGB.csv   ICX.csv	LTC.csv   OMG.csv    STX.csv	XMR.csv
AION.csv  BTS.csv   DNT.csv   IOST.csv	MANA.csv  ONT.csv    THETA.csv	XRP.csv
ANT.csv   BUSD.csv  DOGE.csv  IOTA.csv	MCO.csv   QTUM.csv   TRX.csv	XTZ.csv
ARDR.csv  CTXC.csv  ENJ.csv   IOTX.csv	MITH.csv  REP.csv    TUSD.csv	XZC.csv
BAT.csv   CVC.csv   EOS.csv   KMD.csv	MKR.csv   RLC.csv    UTK.csv	ZEC.csv
BCC.csv   DAI.csv   ETC.csv   KNC.csv	NANO.csv  SC.csv     VEN.csv	ZEN.csv
BCH.csv   DASH.csv  ETH.csv   LEND.csv	NEO.csv   SNX.csv    WAN.csv	ZIL.csv
BLZ.csv   DATA.csv  FUN.csv   LINK.csv	NMR.csv   STORJ.csv  WAVES.csv	ZRX.csv
BNB.csv   DCR.csv   GTO.csv   LRC.csv	NPXS.csv  STORM.csv  WTC.csv
BNT.csv   DENT.csv  GXS.csv   LSK.csv	NULS.csv  STRAT.csv  XLM.csv

In [9]:
#TODO need to match it time scope

In [5]:
symbols = ['ADA', 'AION', 'ANT', 'ARDR', 'BAT', 'BCC', 'BCH', 'BLZ', 'BNB', 'BNT', 'BTC', 'BTS', 'BUSD', 'CTXC', 'CVC', 'DAI', 'DASH', 'DATA', 'DCR', 'DENT', 'DGB', 'DNT', 'DOGE', 'ENJ', 'EOS', 'ETC', 'ETH', 'FUN', 'GTO', 'GXS', 'ICX', 'IOST', 'IOTA', 'IOTX', 'KMD', 'KNC', 'LEND', 'LINK', 'LRC', 'LSK', 'LTC', 'MANA', 'MCO', 'MITH', 'MKR', 'NANO', 'NEO', 'NMR', 'NPXS', 'NULS', 'OMG', 'ONT', 'QTUM', 'REP', 'RLC', 'SC', 'SNX', 'STORJ', 'STORM', 'STRAT', 'STX', 'THETA', 'TRX', 'TUSD', 'UTK', 'VEN', 'WAN', 'WAVES', 'WTC', 'XLM', 'XMR', 'XRP', 'XTZ', 'XZC', 'ZEC', 'ZEN', 'ZIL', 'ZRX']

cointegrated_pairs = {}
for symbol in symbols:
    temp = spy_close
    df = pd.read_csv('Folder/{}.csv'.format(symbol))
    df_close = df['close']
    temp = temp[-len(df_close):]
    pval = coint(temp, df_close)[1]
    
    if pval < 0.01:
        cointegrated_pairs[symbol] = df_close
        print("{} is cointegrated".format(symbol), "p = {}".format(pval))